<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>class</key>
	<string>BSFilesystemFilter</string>
	<key>conventionalRules</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array/>
							<key>name</key>
							<string>Steam</string>
							<key>ruleFlags</key>
							<integer>1027</integer>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>name</key>
							<string>Dash</string>
							<key>ruleFlags</key>
							<integer>1027</integer>
						</dict>
					</array>
					<key>name</key>
					<string>Application Support</string>
					<key>ruleFlags</key>
					<integer>1024</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Library</string>
			<key>ruleFlags</key>
			<integer>1024</integer>
		</dict>
	</array>
	<key>customFilterRules</key>
	<array>
		<dict>
			<key>expressionString</key>
			<string>.asdf</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>.pyenv</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>Steam</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>Dash</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>Docker</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>node_modules</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>.pytest_cache</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>_build</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>deps</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>cover</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>target</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>__pycache__</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>expressionString</key>
			<string>.log</string>
			<key>ruleFlags</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>destFS</key>
	<string>apfs</string>
	<key>filterFlags</key>
	<integer>32</integer>
	<key>sourceFS</key>
	<string>apfs</string>
</dict>
</plist>
