[Desktop Entry]
Type=Application
Exec=/usr/bin/inputplug -d -c {{ lookup("env", "HOME") }}/bin/on_new_keyboard
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Keyboard monitor
Name=Keyboard monitor
Comment[en_US]=
Comment=
